.room-request-rect {
    -fx-background-color: #d9e4ff;
    }


    /*<Rectangle arcHeight="5.0" arcWidth="5.0" fill="#b5c5ee" height="110.0" stroke="BLACK" strokeType="INSIDE" strokeWidth="0.0" styleClass="room-request-rect" width="187.0" />*/


}