.button {
    -fx-background-color: #C0C0C0;
    -fx-background-radius: 10 10 10 10;
}

.clearbutton {
    -fx-background-color: transparent;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 2;
    -fx-border-radius: 10 10 10 10;
}

.searchelements{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10 10 10 10;
}

.viewcartbutton{
    -fx-background-color: #1D3D94;
    -fx-background-radius: 10 10 10 10;
}

.submitbutton{
    -fx-background-color: #1D3D94;
    -fx-background-radius: 10 10 10 10;
}

.image{
    -fx-background-radius: 15 15 15 15;
}

.popupbg{
    -fx-background-color: #E9E9E9;
}
