.image{
    -fx-background-radius: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.searchelements{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10 10 10 10;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color: #1D3D94 ;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: white ;
    -fx-text-fill: black ;
}
.button {
    -fx-background-radius: 10 10 10 10;
}